
<app-navbar></app-navbar>
<app-user-register></app-user-register>
<app-policy-category></app-policy-category>

<section id="news">

  <div class="container">
    <div class="row">
      <h2 class="text-light text-center my-5">Recent News</h2>
    </div>
    <div class="row flex-center h-100 circle-blend circle-blend-left circle-primary">
      <div class="col-12">
        <div class="row align-items-center circle-blend circle-blend-right circle-warning">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card p-3 h-100 card-soft-primary">
              <div class="card-body">
                <div class="d-flex flex-between-center">
                  <p class="fw-normal mb-0 text-400">24 July, 2021</p>
                  <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Thoughts</span></h6>
                </div>
                <h5 class="fw-bold fs-2 text-200 my-3">A pandemic may cause life insurance coverage</h5>
                <p class="text-400">In the aftermath of the Covid epidemic, life insurance firms have been more cautious and have tightened underwriting standards for policies with large cash values.......</p><a class="link-primary" href="#!">
                  <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card p-3 h-100 card-soft-primary">
              <div class="card-body">
                <div class="d-flex flex-between-center">
                  <p class="fw-normal mb-0 text-400">29 July, 2021</p>
                  <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Health</span></h6>
                </div>
                <h5 class="fw-bold fs-2 text-200 my-3">Top 10 health insurance companies in the Germany</h5>
                <p class="text-400">There are numerous private healthcare insurance experts in Germany. Insurance protects against financial loss and reduces uncertainty. It ensures safety and security.......</p><a class="link-primary" href="#!">
                  <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card p-3 h-100 card-soft-primary">
              <div class="card-body">
                <div class="d-flex flex-between-center">
                  <p class="fw-normal mb-0 text-400">15 August, 2021</p>
                  <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Life</span></h6>
                </div>
                <h5 class="fw-bold fs-2 text-200 my-3">Why do you need several life insurance policies?</h5>
                <p class="text-400">In the event of the insured's death, life insurance protects the nominees financially. It is possible to have several life insurance policies with various insurance providers.......</p><a class="link-primary" href="#!">
                  <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
        <div class="my-5 text-center text-sm-end"><a class="link-primary" href="#!">View all
            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"> </path>
            </svg></a></div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>


<section class="py-8">
    <div class="container-fluid px-0">
      <div class="row g-0">
        <div class="col-12 col-xxl-11 offset-xxl-1">
          <h2 class="text-light text-center">Our Awesome Team Members</h2>
          <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carouse">
            <div class="carousel-inner ps-md-5 ps-lg-11 py-4 py-md-5 py-lg-4 pb-lg-9">
              <!--  -->
                <div class="carousel-item active">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Thiruwieddhi Hanumann</h4>
                            <p class="fw-normal mb-0 text-primary">Team Leader</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/2.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">	
                                Gopika Madhu</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Akshay Raj</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Suraj Bhan</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/3.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Nancy X</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/2.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">	
                                	
Kamali Ramraj</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Sanjay k</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">	
                                Perla Manikanta Sunil</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                      <div class="card-body pt-0 p-md-0">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                          <div class="card-span-img">
                            <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                          </div>
                          <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                            <h4 class="mb-0 fw-medium text-white">Piduru Gurunadha Chakradhar</h4>
                            <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                            <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row justify-content-center justify-content-xl-end me-auto mt-xl-n7 pe-xl-8">
              <div class="col-2 text-end position-relative z-index-2">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                <div class="carousel-indicators">
                  <button class="active" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>

<app-footer></app-footer>