
<section class="py-0">

    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <h2 class="text-light text-center my-5">Partners</h2>
        <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-1.png" height="40" alt="Partner" /></div>
        <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-2.png" height="40" alt="Partner" /></div>
        <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-3.png" height="40" alt="Partner" /></div>
        <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-4.png" height="40" alt="Partner" /></div>
        <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-5.png" height="40" alt="Partner" /></div>
      </div>
    </div>
    </section>


<section id="contact">

    <div class="container">
      <div class="row">
        <h2 class="text-light text-center mb-8">Contact Us</h2>
        <div class="col-12 col-lg-6 col-xl-7 mb-4 order-0 order-sm-0"><a class="logo-footer fs-7" href="index.html"><span class="text-primary fw-bolder">In</span><span class="fw-thin text-300">surance Policy</span></a>
          <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light">1500 Treat Ave, Suite 200  &nbsp;</span><a class="text-light" href="tel:+604-680-9785">+604-680-9785</a><br />San Francisco, CA 94110</p>
          <p class="text-light"> <i class="fas fa-envelope me-3 text-primary"> </i><a href="mailto:vctung@outlook.com">suraj12@mphasis.com </a></p>
          <p class="text-light"> <i class="fas fa-phone-alt me-3 text-primary"> </i><a href="tel:1-800-800-2299">1-800-800-9999 (Support)</a></p>
        </div>
        <div class="col-12 col-lg-6 col-xl-5">
          <h3 class="text-200 my-4">Ask your Queries </h3>
          <form class="position-relative">
            <div class="input-group-icon">
              <input class="form-control form-ensurance-control" type="email" placeholder="Enter your Query " aria-label="email" />
            </div>
            <button class="btn btn-primary btn-subscribe" type="submit">Submit Query</button>
          </form>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>