
<app-admin-navbar></app-admin-navbar>

<!--  add policy form  -->

<section class="py-0">
    <div class="bg-holder" style="background-image:url(assets/img/illustrations/bg.png);background-position:left center;background-size:auto 816px;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row align-items-center min-vh-100">
        <div class="col-md-7 col-xl-7 pt-5 text-md-start text-center">
          <h1 class="display-2 text-light fw-thin">We provide the best <br class="d-none d-xl-block" />value <strong class="fw-bolder">insurance </strong></h1>
          <p class="fs-2 text-400">Simple Steps You Can Take to Improve Your <br class="d-none d-xxl-block" />Financial Well-Being for the rest of Your Life </p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
        </div>
        <div class="col-md-5 col-xl-4 pe-xxl-0">
          <div class="card card-bg shadow hero-header-form">
            <div class="card-body p-4 p-xl-6">
              <h2 class="text-100 text-center">Policy Details</h2>
              <form class="mb-3">
                <div class="form-floating mb-3">
                  <input class="form-control input-box form-ensurance-header-control" id="floatingPname" type="text" placeholder="name"  name="policyname" [(ngModel)]="policy.policyname"/>
                  <label for="floatingPname">Policy name</label>
                </div>
               
                <div class="form-floating mb-3">
                  <input class="form-control input-box form-ensurance-header-control" id="floatingPswd" type="text" placeholder="Password" name="maturity" [(ngModel)]="policy.maturity"/>
                  <label for="floatingPswd">Maturity (tenure)</label>
                </div>
           
                <div class="form-floating mb-3">
                  <input class="form-control input-box form-ensurance-header-control" id="floatingPremium" type="tel" name="premium" placeholder="Enter the Cost of Policy" [(ngModel)]="policy.premium"  />
                  <label for="floatingPremium">Premium (cost of policy)</label>
                </div>
                <div class="form-floating mb-3">
                    <!-- <input class="form-control input-box form-ensurance-header-control" id="floatinRole" type="tel" placeholder="name@example.com" /> -->
                    <label for="floatingRole">Policy Type</label><br>
                    <select class=" form-control input-box form-ensurance-header-control custom-select custom-select-sm"  id="floatinRole" name="category" [(ngModel)]="policy.category">
                        <option selected>Select</option>
                        <option value="Health">Health</option>
                        <option value="Life">Life</option>
                        <option value="Motor">Motor</option>
                        <option value="Travel">Travel</option>
                       </select>
                </div>
                
                <div class="col-12 d-grid">
                  <button class="btn btn-primary rounded-pill" type="submit" (click)="addPolicy()">Add Policy</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  -->
<app-footer></app-footer>