
<section id="policy">
    <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-car-insurance.png);background-position:0 200px;background-size:100% 45%;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-left.png);background-position:left;background-size:15% 100%;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder d-none d-xl-block  mt-11" style="background-image:url(assets/img/illustrations/circle.png);background-position:18% 49%;;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="container-lg">
      <div class="row flex-center py-8 py-md-10">
        <div class="col-12 mt-6">
          <div class="d-flex align-items-start">
            <div class="nav flex-column nav-tab" id="nav-tab" role="tablist" aria-orientation="vertical"><a class="circle-hover-wrapper nav-link mb-lg-4 active" id="nav-car-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-car" role="tab" aria-controls="nav-car" aria-selected="true">
                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/car.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/car-hover.png" alt="..." /></div>
              </a><a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-home-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">
                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/home.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/home-hover.png" alt="..." /></div>
              </a><a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-paw-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-paw" role="tab" aria-controls="nav-paw" aria-selected="false">
                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/hlt.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/hlt.png" alt="..." /></div>
              </a><a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-plane-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-plane" role="tab" aria-controls="nav-plane" aria-selected="false">
                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/plane.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/plane-hover.png" alt="..." /></div>
              </a></div>
            <div class="tab-content w-100" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-car" role="tabpanel" aria-labelledby="nav-car-tab">
                <div class="row align-items-center offset-sm-1 g-3">
                  <div class="col-md-6 col-xl-4 order-1 order-md-0">
                    <h2 class="text-light mb-md-5">Motor Insurance</h2>
                    <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                    <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                  </div>
                  <div class="col-md-6 col-xl-8 text-end">
                    <div class="img-shape"><img class="feature-img" src="assets/img/gallery/car.png" alt="..." /></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row align-items-center offset-sm-1 g-3">
                  <div class="col-md-6 col-xl-4 order-1 order-md-0">
                    <h2 class="text-light mb-md-5">Life Insurance</h2>
                    <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                    <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                  </div>
                  <div class="col-md-6 col-xl-8 text-end">
                    <div class="img-shape"><img class="feature-img" src="assets/img/gallery/home.png" alt="..." /></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-paw" role="tabpanel" aria-labelledby="nav-paw-tab">
                <div class="row align-items-center offset-sm-1 g-3">
                  <div class="col-md-6 col-xl-4 order-1 order-md-0">
                    <h2 class="text-light mb-md-5">Health Insurance</h2>
                    <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                    <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                  </div>
                  <div class="col-md-6 col-xl-8 text-end">
                    <div class="img-shape"><img class="feature-img" src="assets/img/gallery/healt.jpg" alt="..." /></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-plane" role="tabpanel" aria-labelledby="nav-plane-tab">
                <div class="row align-items-center offset-sm-1 g-3">
                  <div class="col-md-6 col-xl-4 order-1 order-md-0">
                    <h2 class="text-light mb-md-5">Travel Insurance</h2>
                    <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                    <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                  </div>
                  <div class="col-md-6 col-xl-8 text-end">
                    <div class="img-shape"><img class="feature-img" src="assets/img/gallery/travel.png" alt="..." /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row offset-xl-2">
        <div class="col-12">
          <div class="mb-3 mb-md-5">
            <h2 class="text-light mb-7 text-center text-sm-start">Best Services</h2>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/support.png" height="60" alt="..." />
              <h4 class="mt-4 fw-normal text-200">24x7 Support</h4>
              <p class="text-400 mb-md-0">Client is our most <br> important priority</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/edit.png" height="60" alt="..." />
              <h4 class="mt-4 fw-normal text-200">Easy Claim System</h4>
              <p class="text-400 mb-md-0">Express your desires <br>and needs to us</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/money.png" height="60" alt="..." />
              <h4 class="mt-4 fw-normal text-200">Easy installments</h4>
              <p class="text-400 mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
            </div>
            <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/security.png" height="60" alt="..." />
              <h4 class="mt-4 fw-normal text-200">Strongly Secured</h4>
              <p class="text-400 mb-md-0">Food is made and delivered directly to your home.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
