<section class="py-0">

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-md-flex justify-content-between pb-1 pt-4">
            <div class="pb-4">
              <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                <li><a class="widget-list-link fs-ms" href="#">Home</a></li>
                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">About Us</a></li>
                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">News</a></li>
                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="pb-4">
              <ul class="list-unstyled list-inline my-2">
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-square fa-2x social-icons"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-instagram fa-2x social-icons"></i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter-square fa-2x social-icons"> </i></a></li>
                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-linkedin fa-2x social-icons"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>

<section class="py-0 bg-black">
<div class="container">
  <div class="row justify-content-md-between justify-content-evenly py-4">
    <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
      <p class="fs--1 my-2 fw-light text-200">All rights Reserved &copy; Your Company, 2022</p>
    </div>
    <div class="col-12 col-sm-8 col-md-6">
      <p class="fs--1 fw-light my-2 text-center text-md-end text-200"> Made with&nbsp;
        <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
          <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
        </svg>&nbsp;by&nbsp;<a class="fw-bold text-primary" href="https://themewagon.com/" target="_blank">Group 4 Team</a>
      </p>
    </div>
  </div>
</div>
<!-- end of .container-->

</section>
